* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #FFE4E1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}
/*Main Div */
main {
    width: 60vw;
    height: 90vh;
    margin: 100px auto;
    border: 1px solid transparent;
    color: white;
    text-align: center;
    font-size: large;
    display: grid;
    grid-template-rows: 60px 100px 200px 60px;
    grid-template-columns: repeat(3, 1fr) 150px;
    grid-gap: 20px;
}
/* Div 1 */
.div1 {
    background-color: red;
    grid-column: 1/-1;
    border-radius: 10px;
}
/* Div 2*/
.div2 {
    background-color: #2ed573;
    border-radius: 10px;
}
/* Div 3 */
.div3 {
    background-color: #1e90ff;
    border-radius: 10px;
}
/* Div4 */
.div4 {
    background-color: #5352ed;
    border-radius: 10px;
}
/* Div5 */
.div5 {
    background-color: #9f70d4;
    grid-row: 2/4;
    grid-column: 4/5;
    border-radius: 10px;
}
/* Div 6*/
.div6 {
    background-color: #ffa502;
    grid-column: 1/4;
    border-radius: 10px;
}
/* Div 7*/
.div7 {
    background-color: #00d2d3;
    grid-column: 1/-1;
    border-radius: 10px;
}
